<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Gestão de vinhos - Avaliar vinho</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
<div th:include="fragments/menu"></div>
<div class="ui container" th:if="${error}">
	<div class="ui red message transition"><i class="close icon"></i><span th:text="${error}"/></div>
</div>
<div class="ui container" th:if="${success}">
	<div class="ui green message transition"><i class="close icon"></i><span th:text="${success}"/></div>
</div>
<div class="ui container detailContainer">
	<h2 class="ui header">
		<div class="content">Avaliar vinho</div>
	</h2>
	<div class="ui stacked segments">
		<div class="ui left aligned segment">
			<a th:href="@{ /vinhos/vinho/{id}(id=${wine.id}) }" class="ui blue basic button">
				<i class="chevron left icon"></i>
				Voltar
			</a>
		</div>
		<div class="ui segment">
			<div class="ui items">
				<div class="item">
					<div class="ui image large">
						<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }"/>
					</div>
					<div class="content">
						<div class="header" th:text="${wine.nome}"></div>
						<div class="meta">
							<span th:text="${wine.vinicola}"></span>
						</div>
						<div class="description thumbsCount">
							<span th:text="${wine.aviliacoesNegativas}">0</span>
							<i class="red thumbs outline down icon"></i>
							<span th:text="${wine.aviliacoesPositivas}">0</span>
							<i class="green thumbs outline up icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui container segment">
			<div id="titleContainer" class="ui items">
				<div class="item">
					<div class="content">
						<h2 class="ui header">
							<span th:text="*{userLogged.name}"></span>
							<span> - </span>
							<span th:text="*{#dates.format(date, 'dd-MM-yyyy')}"></span>
						</h2>
					</div>
				</div>
			</div>
			<div class="ui divider clear"></div>
			<div class="ui divided items">
				<form class="ui form" method="POST" th:object="${avaliation}" th:action="@{/vinhos/vinho/{id}/avaliar(id=${wine.id})}">
					<div class="two fields">
						<div class="field">
							<label>Descrição</label>
							<textarea name="descricao" th:field="*{descricao}"></textarea>
						</div>
						<div class="field">
							<label>Avaliação</label>
							<div class="inline fields">
								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="positivo" th:checked="(*{positivo} == true)" value="1" class="hidden"/>
										<label><i class="green thumbs outline up big icon"></i></label>
									</div>
								</div>
								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="positivo" th:checked="(*{positivo} == false)" value="0" class="hidden"/>
										<label><i class="red thumbs outline down big icon"></i></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="field">
							<input type="submit" id="login" class="ui blue button" value="Enviar"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
