<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Gestão de vinhos - Detalhes do vinho</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
<div th:include="fragments/menu"></div>
<div class="ui container" th:if="${error}">
	<div class="ui red message transition"><i class="close icon"></i><span th:text="${error}"/></div>
</div>
<div class="ui container" th:if="${success}">
	<div class="ui green message transition"><i class="close icon"></i><span th:text="${success}"/></div>
</div>
<div class="ui container detailContainer">
	<h2 class="ui header">
		<div class="content">Detalhes do vinho</div>
	</h2>
	<div class="ui stacked segments">
		<div class="ui left aligned segment">
			<a href="/inicio" class="ui blue basic button">
				<i class="chevron left icon"></i>
				Voltar
			</a>
		</div>
		<div class="ui segment">
			<div class="ui items">
				<div class="item">
					<div class="ui image large">
						<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }"/>
					</div>
					<div class="content">
						<div class="header" th:text="${wine.nome}"></div>
						<div class="meta">
							<span th:text="${wine.vinicola}"></span>
						</div>
						<div class="description thumbsCount">
							<span th:text="${wine.aviliacoesNegativas}">0</span>
							<i class="red thumbs outline down icon"></i>
							<span th:text="${wine.aviliacoesPositivas}">0</span>
							<i class="green thumbs outline up icon"></i>
						</div>
					</div>
					<div class="content">
						<a class="ui right floated blue button" th:href="@{ /vinhos/vinho/{id}/avaliar(id=${wine.id}) }">
							Avaliar
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui container segment" th:if="${avaliations}">
			<div id="titleContainer" class="ui items">
				<div class="item">
					<div class="content">
						<h2 class="ui header">Avaliações</h2>
					</div>
				</div>
			</div>
			<div class="ui divider clear"></div>
			<div class="ui divided items">
				<div class="item" th:each="avaliation: ${avaliations}">
					<div class="content">
						<div class="header">
							<span th:text="${avaliation.user.name}"></span>
							<span> - </span>
							<span th:text="${#dates.format(avaliation.dateTime, 'dd-MM-yyyy')}"></span>
						</div>
						<div class="meta" th:text="${avaliation.descricao}"></div>
					</div>
					<div class="content">
						<div class="ui right floated hugeThumbsCount">
							<i class="green thumbs outline up icon" th:if="${avaliation.positivo}"></i>
							<i class="red thumbs outline down icon" th:unless="${avaliation.positivo}"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
