<div id="header" th:frament="menu">
	<div class="ui inverted top fixed menu main-menu">
		<div class="header item"><a href="/">Gestão de Vinhos</a></div>
		<div class="item" th:if="${admin}"><a href="/admin">Administração</a></div>
		<div class="ui floating pointing top right dropdown item button menu-drop" th:if="${userLogged}">
			<div>
				<i class="user icon" ></i><span th:text="${userLogged.name}"></span><i class="dropdown icon"></i>
			</div>
			<div class="ui menu main-menu inverted">
				<a class="item" href="/logout"><i class="sign out icon"></i>Sair</a>
			</div>
		</div>
	</div>
</div>