<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Gestão de vinhos - Acesso negado</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
<div th:include="fragments/menu"></div>
<div class="ui container segment">
	<div id="titleContainer" class="ui items">
		<div class="item">
			<div class="content">
				<h1 class="ui header">Acesso Negado</h1>
			</div>
		</div>
	</div>
	<div class="ui divider clear"></div>
	<div class="ui center aligned container">
		<h3>Acesso negado ao sistema!</h3>
		<p>Você pode sair do sistema para entrar com um usuáriuo com privilégios de acesso ou voltar para o início.</p>
		<a class="ui big blue button" href="/logout">Sair</a>
		<a class="ui big blue button" href="/">Início</a>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>