<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Gestão de vinhos - Detalhes do usuário</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
<div th:include="fragments/menu"></div>
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui header">
			<div class="content">Detalhes do usuário</div>
		</h2>
		<div class="ui stacked segments">
			<div class="ui left aligned segment">
				<a href="/admin/usuario" class="ui blue basic button">
					<i class="chevron left icon"></i>
					Voltar
				</a>
			</div>
			<div class="ui segment">
				<form class="ui form" method="POST" th:object="${user}" th:action="@{/admin/usuario/{id}(id=${user.id})}">
					<input type="hidden" th:field="*{id}"/>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Nome:
							</div>
							<input type="text" id="name" th:field="*{name}" placeholder="Nome do usuário"/>
							<i class="user icon"></i>
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								E-mail:
							</div>
							<input type="email" id="username" th:field="*{username}" placeholder="E-mail de acesso"/>
							<i class="mail icon"></i>
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Senha:
							</div>
							<input type="password" id="password" name="password" placeholder="Senha de acesso"/>
							<i class="lock icon"></i>
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Confirmação:
							</div>
							<input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmação de senha de acesso"/>
							<i class="lock icon"></i>
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Permissão:
							</div>
							<select name="idRole" class="ui dropdown fluid" required="required">
								<option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="(${role.id} == *{idRole})"></option>
							</select>
						</div>
					</div>
					<div class="field">
						<input type="submit" id="login" class="ui fluid blue button" value="Alterar"/>
					</div>
				</form>
			</div>
		</div>
		<div class="ui red message" th:if="${error}"><span th:text="${error}" /></div>
		<div class="ui green message" th:if="${success}"><span th:text="${success}" /></div>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>