<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Gestão de vinhos - Lista de Usuários</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
	<div th:include="fragments/menu"></div>
	<div class="ui container segment">
		<div class="ui fluid buttons">
			<a href="/admin/vinho" class="ui button">Vinhos</a>
			<div class="or" data-text="ou"></div>
			<a href="/admin/usuario" class="ui disabled button">Usuários</a>
		</div>
	</div>
	<div class="ui container" th:if="${error}">
		<div class="ui red message transition"><i class="close icon"></i><span th:text="${error}"/></div>
	</div>
	<div class="ui container" th:if="${success}">
		<div class="ui green message transition"><i class="close icon"></i><span th:text="${success}"/></div>
	</div>
	<div class="ui container segment">
		<div id="titleContainer" class="ui items">
			<div class="item">
				<div class="content">
					<h1 class="ui header">Usuários</h1>
				</div>
				<div class="right floated content">
					<a href="/admin/usuario/novo" class="ui right floated medium green labeled icon button">
						<i class="plus icon"></i>
						Adicionar Usuário
					</a>
				</div>
			</div>
		</div>
		<div class="ui divider clear"></div>
		<div class="ui divided items">
			<div class="item" th:each="user: ${users}">
				<div class="content">
					<a class="header" th:text="${user.name}" th:href="@{ /admin/usuario/{id}(id=${user.id}) }"></a>
				</div>
				<div class="content">
					<a class="ui red right floated labeled icon tiny button" th:href="@{ /admin/usuario/{id}/delete(id=${user.id}) }">
						Excluir
						<i class="trash icon"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>